* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.nav-link:hover{
    color: rgba(255, 200, 0, 0.9)!important;
}

.sct1 {
    height: 740px;
    width: 100%;
    background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg');
    background-size: cover;

    a {
        opacity: 0.9;
        &:hover{
            opacity: 1;
        }
    }
}

.sct2 {
    height: 628px;
    width: 100%;
    background-color: #fff;
}

.sct3 {
    height: 1200px;
    width: 100%;
    background-color: #F8F9FA;

    .container {
        .row{
            .card {
                .image{
                    position: relative;
                    &:hover{
                        .visible {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: opacity ease-in-out 0.25s;
                            cursor: pointer;
                        }
                    }
                    .visible {
                        position: absolute;
                        top: 0;
                        display: none;
                        transition: opacity ease-in-out 0.25s;
                        opacity: 0.9;
                        height: 312px;
                        width: 400px;
                        background: rgba(255, 200, 0, 0.9);
                    }
                }
                img {
                    width: 400px;
                }
            }
        }
    }
}

.sct4 {
    height: 1747px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 1320px;
        height: 1539px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .text-center {
            width: 1296px;
            height: 83px;
            text-align: center;

            h2 {
                font-weight: 700;
                line-height: 1.2;
                font-size: 2.5rem;
                margin-top: 0;
                margin-bottom: 1rem;
            }

            span {
                font-size: 1rem;
                font-weight: 400;
                font-style: italic;
            }
        }

        .timeline {
            width: 1296px;
            height: 1392px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .item1,
            .item2 {
                width: 1296px;
                height: 205px;
            }

            .item1 {
                display: flex;
                justify-content: start;

                .item1-text {
                    width: 531px;
                    height: 205px;
                    display: flex;
                    flex-direction: column;
                    align-items: end;

                    h3 {
                        font-size: 1.5rem; 
                    }
                    h4 {
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        color: #6c757d;
                        line-height: 1.75;
                    }
                }

                .item1-img {
                    height: 170px;
                    width: 228px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    img {
                        width: 157px;
                        height: 157px;
                        border: 7px solid #e9ecef;
                    }

                    .line {
                        position: absolute;
                        height: 2px;
                        background-color: #e9ecef;
                        rotate: 90deg;
                        width: 64.5rem;
                        bottom: -32rem;
                    }
                }
            }

            .item2 {
                display: flex;
                justify-content: start;

                .item2-img {
                    height: 170px;
                    width: 228px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    img {
                        width: 157px;
                        height: 157px;
                        border: 7px solid #e9ecef;
                    }

                    .line2 {
                        position: absolute;
                        width: 178px;
                        height: 2px;
                        background-color: #e9ecef;
                        rotate: 90deg;
                        bottom: -85px;
                    }
                }

                .item2-text {
                    width: 531px;
                    height: 205px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    h3 {
                        font-size: 1.5rem;
                    }

                    h4 {
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        color: #6c757d;
                        line-height: 1.75;
                    }
                }
            }
        }
    }
}









.sct5 {
    height: 820px;
    width: 100%;
    background-color: #F8F9FA;

    .icons {
        i {
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}

.sct6 {
    height: 700px;
    width: 100%;
    background-color: red;
    background-color: #212529;
    background-image:url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png');

}

footer {
    height: 98px;
    width: 100%;

    .icons {
        i {
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:1000px) {
    .fw-bold {
        text-align: center;
    }
    
   
    .sct3 {
        height: auto !important;
    }

    .row {
        height: auto;
        justify-content: center;
    }
   

    .d-flex {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin: 0;
        
        
    }
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }

    .sct5 {
        height: auto;
    }

    .text-center {
        width: 100%;
    }

    .row {
        width: 100%;
    }

    .gap-4 .inputWidth {
        width: 100%;
    }

}